Checks: |
    bugprone-*,
    -bugprone-exception-escape,
    -bugprone-easily-swappable-parameters,

    clang-analyzer-*,
    clang-diagnostic-*,
    -clang-diagnostic-unknown-attributes,
    -clang-diagnostic-comment,

    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-pro-type-const-cast,
    -cppcoreguidelines-special-member-functions,

    hicpp-signed-bitwise,
    hicpp-ignored-remove-result,

    misc-*,
    -misc-non-private-member-variables-in-classes,

    modernize-*,
    -modernize-use-trailing-return-type,
    -modernize-deprecated-headers,

    performance-*,
    -performance-inefficient-string-concatenation,

    readability-*,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-magic-numbers,
    -readability-redundant-access-specifiers

CheckOptions:
  - key:   misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: '1'
  - key:   hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
    value: '1'

UseColor: true
