include LICENSE-APACHE
include LICENSE-MIT
include README.md
include CHANGELOG.md
include indexed_bzip2.pyx
recursive-include src/core *.hpp
recursive-include src/filereader *.hpp
recursive-include src/huffman *.hpp
recursive-include src/indexed_bzip2 *.hpp
recursive-include src/tools *.hpp
include src/tools/ibzip2.cpp
include src/external/cxxopts/LICENSE
include src/external/cxxopts/include/cxxopts.hpp
