include LICENSE-APACHE
include LICENSE-MIT
include README.md
include rapidgzip.svg
include CHANGELOG.md
include rapidgzip.pyx
recursive-include src/core *.hpp
recursive-include src/filereader *.hpp
recursive-include src/huffman *.hpp
recursive-include src/indexed_bzip2 *.hpp
recursive-include src/rapidgzip *.hpp
recursive-include src/rapidgzip *.csv
recursive-include src/tools *.hpp
include src/tools/ibzip2.cpp
include src/tools/rapidgzip.cpp
include src/external/cxxopts/LICENSE
include src/external/cxxopts/include/cxxopts.hpp
include src/external/rpmalloc/LICENSE
include src/external/rpmalloc/rpmalloc/malloc.c
include src/external/rpmalloc/rpmalloc/rpmalloc.c
include src/external/rpmalloc/rpmalloc/rpmalloc.h
include src/external/rpmalloc/rpmalloc/rpnew.h
include src/external/zlib-ng/LICENSE*
include src/external/zlib-ng/*.c
include src/external/zlib-ng/*.h
include src/external/zlib-ng/*.in
include src/external/zlib-ng/*.empty
include src/external/zlib-ng/arch/generic/*.c
include src/external/zlib-ng/arch/generic/*.h
recursive-include src/external/isa-l *.h
recursive-include src/external/isa-l *.c
recursive-include src/external/isa-l *.asm
recursive-include src/external/isa-l *.S
recursive-exclude src/external/isa-l *crc16*
recursive-exclude src/external/isa-l *crc64*
recursive-exclude src/external/isa-l *_example.c
recursive-exclude src/external/isa-l *_perf.c
recursive-exclude src/external/isa-l *_test.c
prune src/external/isa-l/erasure_code
prune src/external/isa-l/examples
prune src/external/isa-l/mem
prune src/external/isa-l/programs
prune src/external/isa-l/raid
prune src/external/isa-l/tests
include src/external/isa-l/LICENSE
include nasm_extension/winnasmcompiler.py
include nasm_extension/nasmcompiler.py
include nasm_extension/LICENSE
